
* {
    margin: 0;
    padding: 0;
    /* border: 3px #000 solid; */
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: rgb(150, 150, 150);
    padding: 20px;
    border: 4px #000 solid;
    border-radius: 15px;
    box-shadow: #000;
    box-shadow: 10px 10px 10px rgb(52, 52, 52);
}


.textField {
    background-color: rgb(236, 236, 236);
    padding: 40px;
    /* height: 100px; */
    margin: 10px 0px;
    border: 3px #000 solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 5em;
}


.clearBtn {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: lightcoral;
}
.deleteBtn {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: aqua;

}

.btnPlus {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}
.btnSubstract {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.btnMultiply {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

}
.btnDivide {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.btnEqual {
    background-color: rgb(30, 255, 101);    
}


.controlls {
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin: 100; */
    gap: 10px;
}




.controlls button {
    font-size: 1.8em;
    border: #000 2px solid;
    border-radius: 10px;
}


.hiddenTextSpan {
    font-size: .3em;
    padding-bottom: 20px;
}


.hide {
    opacity: 0%;
}
.show {
    opacity: 100%;
}